{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h2>Perfil de Usuario</h2></div>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            <p>¡Hola, {{ user.username }}!</p>
                            <div>
                                {% if user.userprofile.profile_picture %}
                                    <img src="{{ user.userprofile.profile_picture.url }}" alt="Imagen de perfil" width="100px" class="mt-2 mb-2">
                                {% else %}
                                    <p>No has subido una imagen de perfil todavía.</p>
                                {% endif %}
                            </div>
                        {% else %}
                            <p>Inicia sesión para ver tu perfil.</p>
                            <a href="{% url 'login' %}" class="btn btn-outline-info mt-2">Iniciar sesión</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}