/*Whatsapp*/
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    border-radius:50%;
    z-index:100;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp:hover {
    transform: scale(1.2);
    cursor: pointer;
}