{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h2>Perfil de Usuario</h2>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            <p>¡Hola, {{ user.username }}!</p>
                            <div>
                                {% if user.userprofile.profile_picture %}
                                    <img src="{{ user.userprofile.profile_picture.url }}" alt="Imagen de perfil" width="100px">
                                {% else %}
                                    <p>No has subido una imagen de perfil todavía.</p>
                                {% endif %}
                            </div>
                        {% else %}
                            <p>Inicia sesión para ver tu perfil.</p>
                            <a href="{% url 'login' %}">Iniciar sesión</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}