{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container mt-5 main-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Perfil de Usuario</h1>
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <p class="text-center">¡Hola, {{ user.username }}!</p>
                        <div class="text-center">
                            {% if user.userprofile.profile_picture %}
                                <img src="{{ user.userprofile.profile_picture.url }}" alt="Imagen de perfil" class="img-thumbnail" style="width: 200px;">
                            {% else %}
                                <p>No has subido una imagen de perfil todavía.</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <p class="text-center">Inicia sesión para ver tu perfil.</p>
                        <div class="text-center">
                            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
