{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5 main-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Subir Imágen de perfil</h1>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="profile_picture" class="form-label">Selecciona foto de perfil:</label>
                            <input type="file" name="profile_picture" class="form-control">
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-primary">Subir Imágen</button>
                        </div>
                        <div class="mb-3 text-center">
                            <a href="{% url 'profileinfo' %}" class="btn btn-primary">Ver tu Perfil</a>
                        </div>
                    </form>
                </div>
                {% if messages %}
                    <div class="card-footer text-center py-5">
                        <ul class="error-list">
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <li class="error-text">{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
