<div style="background-color: rgb(56, 55, 55); border-top: 1px solid #2e3c51; box-shadow: 0px 0px 20px rgba(106, 21, 162, 0.5);">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h5 style="color: white;">Información de contacto</h5>
                <p style="color: white;">Dirección: #########</p>
                <p style="color: white;">Teléfono: ##########</p>
                <p style="color: white;">Correo electrónico: ##########</p>
            </div>
            <div class="col-lg-6">
                <h5 style="color: white;">Enlaces útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/" target="_blank"><img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a></li>
                    <li><a href="https://github.com/" target="_blank"><img width="48" height="48" src="https://img.icons8.com/ios-filled/50/github.png" alt="github"/></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook"/></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><img width="48" height="48" src="https://img.icons8.com/color/48/instagram-new.png" alt="instagram"/></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p style="color: white;">&copy; 2024 Tu empresa. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>