<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
    </ul>
    <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" style="color: white;">
                    <button type="button" class="btn btn-outline-light">Logout</button>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" style="color: white;">
                    <button type="button" class="btn btn-outline-light">Login</button>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>