{% extends 'base.html' %}
{% load static %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="container mt-5 main-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Regístrate</h1>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de Usuario:</label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico:</label>
                            <input type="email" id="email" name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password1" class="form-label">Contraseña:</label>
                            <input type="password" id="password1" name="password1" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirma Contraseña:</label>
                            <input type="password" id="password2" name="password2" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary text-center">Registrame</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}