{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
    <div class="container text-center mt-5 main-container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1">
                <h1 style="color: black; font-size: 72px;">Hello, World!</h1>
                <h2 style="color: black; font-size: 48px;">My name is</h2>
                <h3 style="color: black; font-size: 32px;">Tu Nombre</h3>
            </div>
            <div class="col-md-6 order-md-2">
                <img src="{% static 'img/perfil.png' %}"  alt="Perfil" class="profile-img">
            </div>
        </div>
        <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&pause=1000&color=000000&random=false&width=435&lines=Full+Stack+Developer+Django" alt="Typing SVG" />
    </div>
{% endblock %}